/*titre chapitre*/
#titre1{
    color: rgba(165, 42, 42, 0.822);
    margin-left: auto ;
    margin-right: auto;
    width: auto;
    text-align: center;
}
h1{
    color: rgba(165, 42, 42, 0.822);
    margin-left: auto ;
    margin-right: auto;
    width: auto;
    text-align: center;
}
/*Liste*/
h2{
    font-style: normal;
    color: rgb(129, 71, 71);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

/*Liste*/
h3{
    font-style: italic;
    color: rgb(148, 120, 101);
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

nav a{
    display: block;
    font-size: larger;
    text-decoration: none;
    color: rgb(120, 107, 20);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: brown;
    border-bottom: 2px solid gold;
}

/*paragraphe*/
p{
    color: rgb(255, 255, 255);
    font-style: italic;
}




/*Corps de page*/
body{
    background-color: rgb(0, 0, 0);/*fond de page*/
    background-image: url(../Evaluation_HTML/images/top14.jpg);
    background-repeat: no-repeat;/*pas de mosaique*/
    background-position: center;/*image en bas a droite*/
    background-attachment: fixed;/*fixer image au fond*/
    background-size: 50em;
    color: white
}



a{
    font-style: normal;
    color: rgb(168, 133, 44);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

/*numéros de la liste colorés*/
li{
    color: goldenrod;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: larger;
}

/* Lien transparent*/
#transp{
color: rgba(220, 2, 2, 0.801);
}

table, th, td {
    border: 1px solid rgb(85, 46, 46);
  }

/*Image centrée + cadre*/
img{
    border: 5px inset brown;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 12px 12px 5px  white;
    display: block;
    margin: auto;
}

/*figure*/
figure{
float: inline-start;
width: auto;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: outset 3px brown;
margin: 0.5em;
padding: 0.5em;
}

.logo{
    position: relative;
    box-shadow: 1px 1px 1px rgb(145, 24, 24) ;
    margin-left: auto ;

   

}

table{
    
    font-style: normal;
    color: rgb(214, 140, 43);
    margin: auto;

}

a:hover
{
    text-decoration: none;
    color: rgb(255, 238, 0);
}

.email{
  font-style: normal;
  font-size: small;
  color: rgb(252, 252, 252);  
}

#---{
    text-align: center;
    font-style: italic;
    font-size: small;

}

article{
column-count: 2;
background-color: rgba(183, 138, 4, 0.6);
text-align: justify;
margin-left: 50px;
margin-right: 50px;
}


    